@using MySmartApp.Models
@*@model MySmartApp.Models.HomeModel*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script>
        NProgress.configure({ showSpinner: false });
        NProgress.start();
    </script>*@

<div class="mobile-sticky-body-overlay"></div>
<!-- Top Statistics -->
<div class="row">
    <div class="col-xl-3 col-sm-6">
        <div class="card card-mini mb-4">
            <div class="card-body">
                <h2 class="mb-1">21</h2>
                <p>Temprature Chart</p>
                <div class="chartjs-wrapper">
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card card-mini  mb-4">
            <div class="card-body">
                <h2 class="mb-1">45%</h2>
                <p>Air humidity</p>
                <div class="chartjs-wrapper">
                    <canvas id="dual-line"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card card-mini mb-4">
            <div class="card-body">
                <h2 class="mb-1">71,503</h2>
                <p>Some Parametr Chart2</p>
                <div class="chartjs-wrapper">
                    <canvas id="area-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card card-mini mb-4">
            <div class="card-body">
                <h2 class="mb-1">9,503</h2>
                <p>Some Parametr Chart3</p>
                <div class="chartjs-wrapper">
                    <canvas id="line"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.ActionLink("Create New Room", "Create", "Rooms")
<br/>
@Html.ActionLink("Create New Schedule", "Create", "Schedules")
<br/>
@Html.Partial("~/Views/Devices/Index.cshtml")
<div class="row">
    
</div>

<script>
    (function () {
        var updateButton = document.getElementById('updateDetails');
        var cancelButton = document.getElementById('cancel');
        var favDialog = document.getElementById('Dialog');

        updateButton.addEventListener('click', function () {
            favDialog.showModal();
        });

        cancelButton.addEventListener('click', function () {
            favDialog.close();
        });

    })();
</script>