@model MySmartApp.Models.HomeModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="uk-heading-bullet">Add new room</h2>
<div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            @using (Ajax.BeginForm("Create", new AjaxOptions { UpdateTargetId = "results" }))
            {
                <div class="uk-margin">
                    <div class="uk-inline">
                        <a class="uk-form-icon" href="#" uk-icon="icon: pencil"></a>
                        <input class="uk-input" type="text" name="Name">
                    </div>
                </div>
                <button type="submit" class="uk-button uk-button-primary">Create</button>
                <a class="uk-button uk-button-danger" href="@Url.Action("Index", "Home")">Cancel</a>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
