@model MySmartApp.Models.HomeModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="uk-heading-bullet">Add new device</h2>

<div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            @using (Ajax.BeginForm("Create", null, new AjaxOptions { UpdateTargetId = "results" }, htmlAttributes: new { @class = "uk-form-horizontal .uk-form-width-medium" }))
            {
                @Html.AntiForgeryToken()
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Your device name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-form-width-medium" type="text" name="DeviceName">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">Select Room</label>
                    <div class="uk-form-controls">
                        @Html.DropDownList("Rooms", ((List<string>)ViewBag.Rooms).Select(m => new SelectListItem { Text = m, Value = m }), htmlAttributes: new { @class = "uk-select uk-form-width-medium" })
                    </div>
                </div>
                <button type="submit" class="uk-button uk-button-primary">Create</button>
                <a class="uk-button uk-button-danger" href="@Url.Action("Index", "Home")">Cancel</a>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
